/node_modules/
/typings/
/_mac/
/inspection/
/*.xml
/.DS_Store
/**/.DS_Store
/*/**/.DS_Store
/assets/.DS_Store
.idea/
npm-debug.log

**/*.map
**/*.js

.nyc_output

/build

logs.log

*.log
.buildcache/**


!/assets/**/*.js
!/tools/**/*.js
!jest.config.js
!.eslintrc.js